@tailwind base;
@tailwind components;
@tailwind utilities;


.slider{
    animation:slide 12s infinite;
}
.slidermd{
    animation:slidemd 16s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
   
}
@keyframes slidemd{
    0%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
   
}

